<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post" action="login">
    {% csrf_token %}
    {{ form.as_p }}
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}

    <input type="submit">
</form>
<div>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
</div>

<br>
<br>
<div>
    <button class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10" onclick="location.href='{% url 'register' %}'">New Registration</button>
</div>
</body>
</html>